body{
    margin: 0;
}
header{
    margin: 0;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    text-align: center;
}
header a{
    color: #000;
    text-decoration: none;
    padding: 5px;
}

.hero{
    height: 500px;
    text-align: center;
}
.hero img{
    height: 100%;
}

.secciones{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.secciones div{
    height: 500px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.secciones div a{
    color: black;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
}
.secciones div a:hover{
    font-size: 60px;
    border: 3px solid black;
}
.sec1{
    background-color: blue;
}
.sec2{
    background-color: red;
}
.sec3{
    background-color: aquamarine;
}
.sec4{
    background-color: yellow;
}
footer{
    padding: 5px;
    text-align: center;
    background-color: black;
}
footer p{
    margin: 0;
    color: white;
}

@media (min-width: 420px){
    
}
@media (min-width: 768px){

}
@media (min-width: 1024px){
    
}
@media (min-width: 1440px){
    
}